﻿@model IEnumerable<ToDoList.Models.TodoList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("Index", "ToDoList", FormMethod.Get))
{
    <p>
        Task: @Html.TextBox("SearchString") <br />
        <br />
        <input type="submit" value="Filter" />
    </p>
    }


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
            @Html.ActionLink("▲", "Index", new { Style = "color:#cdcdcd;", sortOrder = ViewBag.PrioritySortParam })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
            @Html.ActionLink("▲", "Index", new { sortOrder = "Start Date" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
            @Html.ActionLink("▲", "Index", new { sortOrder = "End Date" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
